@{
	ViewData["Title"] = "Login Page";
}


<div class="container mt-4">
	<a class="btn btn-primary" asp-area="" asp-controller="Condo" asp-action="Index">Back</a>
	<hr />
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="card shadow-lg p-4">
				<form method="post" asp-controller="Condo" asp-action="CreateCondominium">
					<div class="mb-3">
						<label for="txtName" class="form-label">Name</label>
						<input type="text" id="txtName" name="txtName" class="form-control" required />
					</div>
					<div class="mb-3">
						<label for="txtAddress" class="form-label">Address</label>
						<input type="text" id="txtAddress" name="txtAddress" class="form-control" required />
					</div>
					<div class="mb-3">
						<label for="txtCount" class="form-label">Count</label>
						<input type="number" id="txtCount" name="txtCount" class="form-control" required />
					</div>
					<div class="mb-3">
						<label for="txtPhoto" class="form-label">Photo</label>
						<input type="text" id="txtPhoto" name="txtPhoto" class="form-control" required />
					</div>
					<button type="submit" class="btn btn-primary w-100">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>

